<!DOCTYPE html>
<html>
<head>
  <title>My Crypto Dashboard</title>
</head>
<body>
<div>
  <h1>User Info:</h1>
  <p>Full Name: </p>
  <p>Email: </p>
  <p>Balance:</p>
  <p>Rating: </p>
</div>
<hr>
<h2>My Cryptocurrencies</h2>
<ul>
  <li><a href="lse.html">Lido_Staked_Ether</a></li>
  <li><a href="btc.html">Bitcoin</a></li>
  <li><a href="eth.html">Ethereum</a></li>
  <li><a href="bnb.html">BNB</a></li>
  <li><a href="xrp.html">XRP</a></li>
  <li><a href="polygon.html">Polygon</a></li>
  <li><a href="tether.html">Tether</a></li>
  <li><a href="usd.html">USD_Coin</a></li>
  <li><a href="cardano.html">Cardano</a></li>
  <li><a href="dogecoin.html">Dogecoin</a></li>
</ul>
</body>
</html>