<!DOCTYPE html>
<html>
<head>
  <title>USD coin Graph</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<canvas id="usd_coin-chart"></canvas>
<script th:inline="javascript">
  fetch('/usd_coin')
          .then(response => response.json())
          .then(usd_coinData => {
            var ctx = document.getElementById("usd_coin-chart").getContext("2d");

            var formattedData = {
              labels: [],
              datasets: [{
                label: 'usd_coin',
                data: [],
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
              }]
            };

            Object.entries(usd_coinData).forEach(([key, value]) => {
              formattedData.labels.push(new Date(key).toLocaleString('en-US', {
                year: 'numeric',
                month: '2-digit',
                day: '2-digit',
                hour: '2-digit',
                minute: '2-digit'
              }));
              formattedData.datasets[0].data.push(value);
            });

            var usd_coinChart = new Chart(ctx, {
              type: "line",
              data: formattedData,
              options: {
                scales: {
                  xAxes: [
                    {
                      type: "time",
                      time: {
                        unit: "minute",
                        tooltipFormat: "YYYY-MM-DD HH:mm",
                        displayFormats: {
                          minute: "YYYY-MM-DD HH:mm"
                        }
                      }
                    }
                  ],
                  yAxes: [
                    {
                      ticks: {
                        beginAtZero: true
                      }
                    }
                  ]
                },
                tooltips: {
                  callbacks: {
                    label: function(tooltipItem, data) {
                      var label = data.datasets[tooltipItem.datasetIndex].label || '';
                      if (label) {
                        label += ': ';
                      }
                      label += tooltipItem.yLabel.toFixed(2);
                      return label;
                    },
                    title: function(tooltipItem, data) {
                      var title = '';
                      if (tooltipItem.length > 0) {
                        var dateObj = new Date(tooltipItem[0].xLabel);
                        title = dateObj.toLocaleString('en-US', {
                          year: 'numeric',
                          month: '2-digit',
                          day: '2-digit',
                          hour: '2-digit',
                          minute: '2-digit'
                        });
                      }
                      return title;
                    }
                  }
                }
              }
            });
          });
</script>
</body>
</html>
