<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
</head>
<body>
<form th:method="PATCH"  th:action="@{/products/{id}(id=${product.getId})}" th:object="${product}">
    <label for="name">Name</label>
    <input th:field="*{name}" id ="name" type="text" placeholder=" ">
    <br/>
    <label for="price">Price</label>
    <input th:field="*{price}" id ="price" type="number" placeholder=" ">
    <br/>
    <label for="rating">Rating</label>
    <input th:field="*{rating}" id ="rating" type="number" placeholder=" ">
    <br/>
    <label for="quantityOnStock">Quantity on stock</label>
    <input th:field="*{quantityOnStock}" id ="quantityOnStock" type="number" placeholder=" ">
    <button type="submit">Update</button>
</form>
<form th:method = "DELETE" th:action = "@{/products/{id}(id=${product.getId})}" >
    <input type = "submit" value = "Delete product"/>
</form>
</body>
</html>