<!doctype html>
<html lang="en" dir="ltr" style="font-size: 75%;">
<head>
  <title>Shop</title>

  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="viewport" content="width=device-width,initial-scale=1">

<!--  <script defer="defer" src="index.js"></script>-->
</head>
<body style="margin: 0;">
<ul>
  <li><a href="products/index.html">Products</a></li>
  <li><a href="customers.html">Customers</a></li>
  <li><a href="orders.html">Orders</a></li>
</ul>
</body>
</html>
